<div class="col-md-12 col-sm-12 icard">
  <form [formGroup]="FacultyForm" method="post" (submit)="RegisterFaculty()" (keydown.enter)="$event.preventDefault()">
    <div class="x_panel">
      <div class="x_title">
        <h2>
          {{ Title }} <small>{{ TitleDetail }}</small>
        </h2>
        <div class="clearfix"></div>
      </div>

      <div class="modal fade" id="facultyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal Alert</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body" id="facultyModalMsg"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="redirectOperation()">
                Ok
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="x_content">
        <ul class="nav nav-tabs tablink" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="faculty-tab" data-toggle="tab" (click)="ManageCurrent('faculty')"
              href="#faculty" role="tab" aria-controls="faculty" aria-selected="true">Teaching Staff</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="staff-tab" data-toggle="tab" (click)="ManageCurrent('staff')" href="#staff"
              role="tab" aria-controls="staff" aria-selected="false">Non-Teaching Staff</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="student-tab" data-toggle="tab" (click)="ManageCurrent('student')" href="#student"
              role="tab" aria-controls="student" aria-selected="false">Student</a>
          </li>
        </ul>
        <div class="tab-content mt-4">
          <div class="tab-pane fade show active" id="faculty" role="tabpanel" aria-labelledby="faculty-tab">
            <div>
              <div class="x_title">
                <h2>
                  Teaching faculty
                  <small>Fill the teaching staff detail for quick
                    registration.</small>
                </h2>
                <div class="clearfix"></div>
              </div>
              <div class="col-12 row p-0">
                <div class="col-md-3 pl-2 col-sm-12">
                  <div class="profile-dv">
                    <img class="card-img-top" [src]="FacultyImage" alt="user" />
                    <div class="mt-3">
                      <button class="btn btn-outline-danger btn-block" (click)="GetImage()">
                        Browse File
                      </button>
                      <input type="file" id="browsfile" class="d-none" (change)="GetFile($event)" />
                    </div>
                  </div>
                </div>
                <div class="col-md-9 col-sm-12">
                  <div class="section-card mb-2">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label" for="first-name">
                        First Name <span class="required">*</span>
                      </label>
                      <div class="col-sm-8">
                        <input type="text" id="FirstName" name="FirstName" formControlName="FirstName"
                          class="form-control" placeholder="First Name" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">
                        Last Name
                      </label>
                      <div class="col-sm-8">
                        <input type="text" id="LastName" name="LastName" formControlName="LastName" class="form-control"
                          placeholder="Last Name" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">
                        Mobile No.#
                      </label>
                      <div class="col-sm-8">
                        <input type="text" mobile id="MobileNumber" name="MobileNumber" formControlName="MobileNumber"
                          class="form-control" placeholder="Mobile Number" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="staff" role="tabpanel" aria-labelledby="staff-tab">
            <div>
              <div class="x_title">
                <h2>
                  Non-teaching Staff
                  <small>Fill the non-teaching staff detail for quick
                    registration.</small>
                </h2>
                <div class="clearfix"></div>
              </div>

              <div class="col-12 row p-0">
                <div class="col-md-3 pl-2 col-sm-12">
                  <div class="profile-dv">
                    <img class="card-img-top" [src]="FacultyImage" alt="user" />
                    <div class="mt-3">
                      <button class="btn btn-outline-danger btn-block" (click)="GetImage()">
                        Browse File
                      </button>
                      <input type="file" id="browsfile" class="d-none" (change)="GetFile($event)" />
                    </div>
                  </div>
                </div>
                <div class="col-md-9 col-sm-12">
                  <div class="section-card mb-2">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label" for="first-name">
                        First Name <span class="required">*</span>
                      </label>
                      <div class="col-sm-8">
                        <input type="text" id="FirstName" name="FirstName" formControlName="FirstName"
                          class="form-control" placeholder="First Name" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">
                        Last Name
                      </label>
                      <div class="col-sm-8">
                        <input type="text" id="LastName" name="LastName" formControlName="LastName" class="form-control"
                          placeholder="Last Name" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">
                        Mobile No.#
                      </label>
                      <div class="col-sm-8">
                        <input type="text" mobile id="MobileNumber" name="MobileNumber" formControlName="MobileNumber"
                          class="form-control" placeholder="Mobile Number" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="student" role="tabpanel" aria-labelledby="student-tab">
            <div>
              <div class="x_title">
                <h2>
                  Student <small>Student quick registration detail page.</small>
                </h2>
                <div class="clearfix"></div>
              </div>

              <div class="col-12 row p-0">
                <div class="col-md-3 pl-2 col-sm-12">
                  <div class="profile-dv">
                    <img class="card-img-top" [src]="FacultyImage" alt="user" />
                    <div class="mt-3">
                      <button class="btn btn-outline-danger btn-block" (click)="GetImage()">
                        Browse File
                      </button>
                      <input type="file" id="browsfile" class="d-none" (change)="GetFile($event)" />
                    </div>
                  </div>
                </div>
                <div class="col-md-9 col-sm-12">
                  <div class="section-card mb-2">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label" for="first-name">
                        Father full name
                      </label>
                      <div class="col-sm-8">
                        <input type="text" id="Fatherfullname" name="Fatherfullname" formControlName="Fatherfullname"
                          class="form-control" placeholder="Father full name" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">
                        Mother full name
                      </label>
                      <div class="col-sm-8">
                        <input type="text" id="Motherfullname" name="Motherfullname" formControlName="Motherfullname"
                          class="form-control" placeholder="Mother full name" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">
                        Student full name
                      </label>
                      <div class="col-sm-8">
                        <input type="text" id="Studentfullname" name="Studentfullname" formControlName="Studentfullname"
                          class="form-control" placeholder="Student full name" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">
                        Father Mobile No.#
                      </label>
                      <div class="col-sm-8">
                        <input type="text" mobile id="MobileNumber" name="MobileNumber" formControlName="MobileNumber"
                          class="form-control" placeholder="Father mobile number" />
                      </div>
                    </div>
                    <div class="col-md-12 col-sm-12 row">
                      <label class="col-sm-3 col-form-label">
                        Class
                      </label>
                      <div class="col-md-8 d-flex p-0">
                        <div class="col-md-5 pr-0">
                          <select class="form-control" (change)="EnableSection()" formControlName="Class" id="Class"
                            name="Class">
                            <option value="">Choose Class</option>
                            <option *ngFor="let item of Classes" [value]="item">{{ item }}</option>
                          </select>
                        </div>
                        <label class="col-sm-3 col-form-label">Section</label>
                        <div class="col-md-5">
                          <select class="form-control" disabled formControlName="ClassDetailUid" id="section"
                            name="section">
                            <option value="">Section</option>
                            <option *ngFor="let item of Sections" [value]="item.ClassDetailUid">{{ item.Section }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="btn-toolbar flex-row-reverse">
      <button type="submit" class="btn btn-success mr-1" value="Submit">
        <i class="fas fa-upload pr-2"> </i>
        Submit
      </button>
      <button class="btn btn-outline-info mr-1" (click)="ClearFields()">
        <i class="fas fa-sync-alt pr-2"></i>
        Clear
      </button>
    </div>
  </form>
</div>
