/* ---------------------------------------------------
      CONTENT STYLE
  ----------------------------------------------------- */
#content {
  position: fixed;
  top: 0px;
  left: 15rem;
  right: 0px;
  transition: all 0.3s;
  z-index: 99999;
}

#content.active {
  margin-left: 80px;
  transition: all 0.3s;
}

.navbar {
  background: #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.menu {
  font-size: 24px;
  cursor: pointer;
}

.navbar {
  height: 50px !important;
}
