<div class="col-md-12 col-sm-12 p-0">
  <div *ngIf="IsReady">
    <form id="studentRegistration" [formGroup]="StudentForm" (submit)="RegisterNow()"
      (keydown.enter)="$event.preventDefault()">
      <div class="clearfix"></div>
      <div class="col-md-12 p-0">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Student Registration</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="col-12 row m-0 p-0">
                <div class="col-md-2 pl-2 col-sm-12 position-relative">
                  <div class="profile-dv">
                    <img class="card-img-top" [src]="StudentImage" alt="user">
                    <div class="mt-2">
                      <button class="btn btn-outline-danger btn-block" (click)="GetImage()">Browse File</button>
                      <input type="file" id="browsfile" class="d-none" (change)="GetFile($event)" />
                    </div>
                  </div>
                </div>

                <div class="col-md-10 col-sm-10">
                  <div class="x_title bg-muted">
                    <h2>Guardian detail</h2>
                    <ul id="parent-dv-ul" class="nav navbar-right panel_toolbox"
                      style="margin-top: 10px;margin-right:-25px;">
                      <li class="dropdown" style="display: none;" id="parentInfoSelection" *ngIf="!IsUpdating">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button"
                          aria-expanded="false">
                          <i class="fa fa fa-clone" style="color: #444;"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                          <li>
                            <a>Enter new entry</a>
                          </li>
                          <li>
                            <a>Select existing name</a>
                          </li>
                        </ul>
                      </li>
                      <li name="edit-enable" style="margin-right: 36px;" *ngIf="IsUpdating" disabled>
                        <a href="javascript:void(0)">
                          <span style="color:#989898">Edit Parent Detail&nbsp;</span>
                        </a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div id="perient-existing-dv" *ngIf="IsExistingParent" class="col-md-9 col-sm-9 col-xs-12">
                    <label class="control-label" style="padding-top: 6px;">
                      Enter mobile no. <span class="required">*</span>
                    </label>
                    <div class="form-group">
                      <div class='input-group date' id='mob'>
                        <input class="form-control col-md-7 col-xs-12" mobile name="FatherMobileno"
                          placeholder="Enter mobile no." formControlName="FatherMobileno">
                      </div>
                    </div>
                  </div>
                  <div *ngIf="!IsExistingParent" class="row" id="parent-dv">
                    <div class="col-md-6 col-sm-12">
                      <div class="form-group col ibox">
                        <input type="text" class="form-control" name="Fatherfullname" placeholder="Father full name"
                          formControlName="Fatherfullname" title="Father full name">
                        <i class="fa fa-user"></i>
                      </div>

                      <div class="form-group col ibox">
                        <input class="form-control" name="Fatheremailid" placeholder="Father email id"
                          formControlName="Fatheremailid" title="Father email id">
                        <i class="fa fa-envelope"></i>
                      </div>

                      <div class="form-group col ibox">
                        <input type="text" class="form-control" formControlName="FatherMobileno" name="FatherMobileno"
                          mobile placeholder="Father no." title="Father mobile no">
                        <i class="fa fa-phone"></i>
                      </div>

                      <div class="form-group col ibox">
                        <input type="text" class="form-control" formControlName="Fatheroccupation"
                          name="Fatheroccupation" placeholder="Father occupation" title="Father occupation">
                        <i class="fa fa-desktop"></i>
                      </div>

                      <div class="form-group col ibox">
                        <input type="text" class="form-control" formControlName="Fatherqualification"
                          name="Fatherqualification" placeholder="Father qualification" title="Father qualification">
                        <i class="fa fa-desktop"></i>
                      </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                      <div class="form-group col ibox">
                        <input type="text" class="form-control" formControlName="Motherfullname" name="Motherfullname"
                          placeholder="Mother full name" title="Mother full name">
                        <i class="fa fa-user"></i>
                      </div>

                      <div class="form-group col ibox">
                        <input type="text" class="form-control" formControlName="Motheremailid" name="Motheremailid"
                          placeholder="Mother email id" title="Mother email id">
                        <i class="fa fa-envelope"></i>
                      </div>

                      <div class="form-group col ibox">
                        <input type="text" class="form-control" formControlName="Mothermobileno" name="Mothermobileno"
                          mobile placeholder="Mother no." title="Mother mobile no">
                        <i class="fa fa-phone"></i>
                      </div>

                      <div class="form-group col ibox">
                        <input type="text" class="form-control" formControlName="Motheroccupation"
                          name="Motheroccupation" placeholder="Mother occupation" title="Mother occupation">
                        <i class="fa fa-desktop form-control-feedback left" aria-hidden="true"></i>
                      </div>

                      <div class="form-group col ibox">
                        <input type="text" class="form-control" formControlName="Motherqualification"
                          name="Motherqualification" placeholder="Mother qualification" title="Mother qualification">
                        <i class="fa fa-desktop"></i>
                      </div>
                    </div>
                  </div>
                  <!-- end of user-activity-graph -->
                </div>
              </div>

              <div class="col-12 mt-4">
                <div class="x_title bg-muted">
                  <h5>Local guardian detail</h5>
                </div>
                <div class="form-row mt-4">
                  <div class="form-group col ibox">
                    <input type="text" class="form-control" formControlName="LocalGuardianFullName"
                      name="LocalGuardianFullName" placeholder="Full name" title="Local Guardian full name">
                    <i class="fa fa-user"></i>
                  </div>
                  <div class="form-group col ibox">
                    <input type="text" class="form-control" formControlName="LocalGuardianemailid"
                      name="LocalGuardianemailid" placeholder="Email id" title="Local Guardian email id">
                    <i class="fa fa-envelope"></i>
                  </div>
                  <div class="form-group col ibox">
                    <input type="text" class="form-control" formControlName="LocalGuardianMobileno" mobile
                      name="LocalGuardianMobileno" placeholder="Mobile number" title="Local Guardian mobil no">
                    <i class="fa fa-phone"></i>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 col-xs-12 pr-1">
            <div class="x_panel pb-0">
              <div class="x_title">
                <h2>Student detail <small>Fill student personal</small></h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <br />
                <div class="form-horizontal form-label-left input_mask">
                  <div class="form-group form-row">
                    <div class="col ibox">
                      <input type="text" class="form-control" formControlName="FirstName" name="FirstName"
                        placeholder="Student First Name">
                      <i class="fa fa-user form-control-feedback"></i>
                    </div>
                    <div class="col ibox">
                      <input type="text" class="form-control" formControlName="LastName" name="LastName"
                        placeholder="Student Last Name">
                      <i class="fa fa-user form-control-feedback"></i>
                    </div>
                  </div>
                  <div class="form-group form-row">
                    <div class="col ibox">
                      <input type="text" class="form-control" formControlName="EmailId" name="EmailId"
                        placeholder="Email">
                      <i class="fa fa-envelope"></i>
                    </div>
                    <div class="col ibox">
                      <input type="text" class="form-control" formControlName="Mobilenumber" name="Mobilenumber" mobile
                        placeholder="Mobile number">
                      <i class="fa fa-phone"></i>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col ibox">
                      <label class="control-label">Pincode</label>
                      <input type="text" number="6" formControlName="Pincode" name="Pincode" class="form-control"
                        placeholder="Pincode">
                      <i class="fa fa-envelope"></i>
                    </div>
                    <div class="form-group col ibox">
                      <label class="control-label">Catagory</label>
                      <select class="form-control" formControlName="Catagory" name="Catagory">
                        <option selected="selected" value="">Select catagory</option>
                        <option value="General">General</option>
                        <option value="OBC">OBC</option>
                        <option value="S.C">S.C</option>
                        <option value="S.T">S.T</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col">
                      <label class="control-label">Date of birth</label>
                      <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" id="Dob" name="Dob" formControlName="Dob"
                          ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar btn-s" (click)="d.toggle()" type="button">
                            <i class="far fa-calendar-alt"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="form-group col ibox">
                      <label class="control-label">Age <span class="required">*</span></label>
                      <input name="Age" formControlName="Age" readonly class="form-control" />
                      <i class="fa fa-envelope"></i>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="control-label">Gender</label>
                    <div class="col-md-8 chk-dv">
                      <label>
                        Male:
                        <input type="checkbox" id="male" class="chkbox mr-2 ml-2" value="male" checked="checked" />
                      </label>

                      <label>
                        Female:
                        <input type="checkbox" id="female" value="female" class="chkbox ml-2" />
                      </label>
                    </div>
                    <!-- <div class="frb-group form-row m-0">
                    <div class="frb frb-primary col pl-0">
                      <input type="radio" id="radio-button-4" name="radio-button" value="4">
                      <label for="radio-button-4">
                        <span class="frb-title">Male Gender</span>
                        <span class="frb-description">I am a male student.</span>
                      </label>
                    </div>
                    <div class="frb frb-pink m-0 col pr-0">
                      <input type="radio" id="radio-button-5" name="radio-button" value="5">
                      <label for="radio-button-5">
                        <span class="frb-title">Female Gender</span>
                        <span class="frb-description">I am a female student.</span>
                      </label>
                    </div>
                  </div> -->
                  </div>
                  <div class="ln_solid"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-xs-12 pl-1">
            <div class="x_panel">
              <div class="x_title">
                <h2>Student other details <small>school related details</small></h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="form-horizontal">
                  <div class="form-row">
                    <div class="form-group col ibox">
                      <label class="control-label">Mother tongue</label>
                      <input type="text" name="MotherTongue" formControlName="MotherTongue" class="form-control"
                        placeholder="Mother tongue">
                    </div>
                    <div class="form-group col ibox">
                      <label class="control-label">State</label>
                      <select class="form-control" formControlName="State" name="State">
                        <option selected="selected" value="">Select state</option>
                        <option value="Bihar">Bihar</option>
                        <option value="West Bangal">West Bangal</option>
                        <option value="Jharkhand">Jharkhand</option>
                        <option value="UP">UP</option>
                        <option value="Odisha">Odisha</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col ibox">
                      <label class="control-label">Select Class</label>
                      <select class="form-control" formControlName="Class" (change)="EnableSection()" name="Class">
                        <option value="">Choose Class</option>
                        <option *ngFor="let item of Classes" value="{{item}}">{{item}}</option>
                      </select>
                    </div>
                    <div class="form-group col ibox">
                      <label class="control-label">Select Section</label>
                      <select class="form-control" formControlName="ClassDetailUid" name="ClassDetailUid"
                        (change)="ManageSection()">
                        <option value="">Choose Section</option>
                        <option *ngFor="let sec of Sections" value="{{sec.ClassDetailUid}}">{{sec.Section}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-row">
                    <div class="form-group col ibox">
                      <label class="control-label">City</label>
                      <select formControlName="City" name="City" class="form-control">
                        <option selected="selected" value="">Select city</option>
                        <option value="Bihar">Bihar</option>
                        <option value="West Bangal">West Bangal</option>
                        <option value="Jharkhand">Jharkhand</option>
                        <option value="UP">UP</option>
                        <option value="Odisha">Odisha</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group right-box">
                    <label class="control-label">Address</label>
                    <textarea type="text" class="form-control" rows="4" formControlName="FullAddress" name="FullAddress"
                      placeholder="Full Address"></textarea>
                  </div>

                  <div class="ln_solid"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group text-right mr-5">
        <button id="nextbtn" (click)="Resetall()" class="btn btn-outline-danger mr-2">
          <i class="fas fa-undo mr-1"></i>
          Reset
        </button>
        <button id="prevbtn" class="btn btn-success">
          <i class="fas fa-sign-in-alt mr-1"></i>
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
