.right-box {
  margin-bottom: 14px !important;
}

.b-align {
  position: absolute;
  bottom: 15px;
}

select {
  color: var(--input-color);
}

.profile-dv {
  width: 174px;
  transform: translate(0px, 50px) !important;
}

.chk-dv {
  line-height: 2.46;
}
