<div class="col-md-12">
  <a class="hiddenanchor" id="signup"></a>
  <a class="hiddenanchor" id="signin"></a>
  <form class="login_wrapper" (submit)="UserLogin()" [formGroup]="LoginForm">
    <div class="animate form login_form">
      <section class="login_content">
        <div>
          <h1>Login Form</h1>
          <span
            style="color: red; display: none; margin-bottom: 10px"
            id="errorMsg"
            >Invalid username or password</span
          >
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Email id or Modile no."
              id="userid"
              formControlName="UserId"
            />
            <input
              type="password"
              class="form-control mt-2"
              placeholder="Password"
              id="passwd"
              formControlName="Password"
            />
          </div>
          <div class="mt-4">
            <button class="btn btn-outline-dark mr-2" type="submit">
              Log in
            </button>
            <a class="reset_pass" href="#">Lost your password?</a>
          </div>
          <div class="clearfix"></div>
          <div class="separator">
            <p class="change_link">
              New to site?
              <a href="#signup" class="to_register"> Create Account </a>
            </p>
            <div class="clearfix"></div>
            <br />
            <div>
              <h1><i class="fa fa-paw"></i> {{ schoolName }}</h1>
              <p>
                ©2016 All Rights Reserved. {{ schoolName }} is a Bootstrap 3
                template. Privacy and Terms
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div id="register" class="animate form registration_form">
      <section class="login_content d-none">
        <form>
          <h1>Create Account</h1>
          <div>
            <input
              type="text"
              class="form-control"
              placeholder="Username"
              required=""
            />
          </div>
          <div>
            <input
              type="email"
              class="form-control"
              placeholder="Email"
              required=""
            />
          </div>
          <div>
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              required=""
            />
          </div>
          <div>
            <a class="btn btn-default submit">Submit</a>
          </div>
          <div class="clearfix"></div>
          <div class="separator">
            <p class="change_link">
              Already a member ?
              <a href="#signin" class="to_register"> Log in </a>
            </p>
            <div class="clearfix"></div>
            <br />
            <div>
              <h1><i class="fa fa-paw"></i> {{ schoolName }}</h1>
              <p>
                ©2016 All Rights Reserved. {{ schoolName }} is a Bootstrap 3
                template. Privacy and Terms
              </p>
            </div>
          </div>
        </form>
      </section>
    </div>
  </form>
</div>
