.form-control {
  height: 34px !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075) !important;
}

.form-group {
  .control-label {
    text-align: right;
    position: relative;
    top: 12px;
  }
}

.para-gender {
  margin: 10px 0px 10px !important;
}

.rdo {
  margin: 0px 12px 1px 3px !important;
}

.col-form-label {
  text-align: right;
}

.section-card {
  margin-top: 30px;
  margin-bottom: 30px;
}

.profile-dv {
  width: 200px;
  transform: translate(48px, 30px) !important;
}

.chk-dv {
  line-height: 2.46;
}


.upload-btn {
  position: absolute;
  right: 0px;
  margin-top: 12px;
  cursor: pointer !important;
}

.upload-btn:hover {
  font-size: 15px;
}

.upload-document {
  position: fixed;
  background: rgba(237, 237, 237, 0.32);
  bottom: 0px;
  z-index: 99999;
  right: 0px;
  left: 0px;
  top: 0px;
  margin: auto;
}

.night-bg {
  background: rgba(0, 0, 0, 0.82) !important;
}

.night-bg .card-header,
.card-footer {
  background: rgb(93, 93, 93) !important;
}

.upload-document-dv {
  position: fixed;
  bottom: 0px;
  z-index: 9999999;
  right: 0px;
  left: 0px;
  top: 10%;
  color: #eee !important;
  width: 70%;
  margin: auto;
  border-radius: 4px;
}

.upload-body {
  min-height: 200px;
  top: 10%;
}

img.doc-img {
  width: 6rem;
  height: 4rem;
}

img.doc-img:hover {
  cursor: pointer;
  width: 7rem;
  height: 5rem;
}

.img-dv {
  min-width: 7rem;
  text-align: center;
  margin-right: 4px;
  padding: 5px;
  padding-bottom: 12px;
  background: #eee;
  padding-top: 10px;
  margin-top: 6px;
}

.del-anc {
  cursor: pointer;
}

.del-anc:hover {
  font-size: 15px;
}

.btn-s {
  border-color: #cac9c9 !important;
}
