<div class="col-12 p-0">
  <!-- Dashboard -->
  <div class="wrapper">
    <!-- Sidebar Holder -->
    <div class="col-md-12 p-0">
      <div class="row m-0">
        <div class="col-md-2-5 p-0">
          <div class="d-none d-lg-block">
            <app-side-menu></app-side-menu>
          </div>
        </div>
        <div class="col-md-7-5 p-0 body-container">
          <!-- Page Header -->
          <app-header></app-header>
          <div id="content-body" class="body-content">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
