<div class="col-md-12 col-sm-12 icard" name="grid">
  <form [formGroup]="FacultyForm" method="post" (submit)="RegisterFaculty()" *ngIf="IsReady"
    (keydown.enter)="$event.preventDefault()">
    <div class="x_panel">
      <div class="x_title">
        <h2>{{Title}} <small>{{TitleDetail}}</small></h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <div class="modal fade" id="facultyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" id="facultyModalMsg">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                  ng-click="redirectOperation()">Ok</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Smart Wizard -->
        <p>Use this page for only teaching & non-teaching staff registration. It will take all necessary information.
        </p>
        <div class="col-12 row p-0">
          <div class="col-md-3 pl-2 col-sm-12">
            <div class="profile-dv">
              <img class="card-img-top" [src]="FacultyImage" alt="user">
              <div class="mt-3">
                <button class="btn btn-outline-danger btn-block" (click)="GetImage()">Browse File</button>
                <input type="file" id="browsfile" class="d-none" (change)="GetFile($event)" />
              </div>
            </div>
          </div>
          <div class="col-md-9 col-sm-12">
            <div class="section-card mb-2">
              <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="first-name">
                  First Name <span class="required">*</span>
                </label>
                <div class="col-sm-8">
                  <input type="text" id="FirstName" name="FirstName" formControlName="FirstName" class="form-control"
                    placeholder="First Name">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">
                  Last Name
                </label>
                <div class="col-sm-8">
                  <input type="text" id="LastName" name="LastName" formControlName="LastName" class="form-control"
                    placeholder="Last Name">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Gender</label>
                <div class="col-md-8 chk-dv p-0">
                  <label>
                    Male:
                    <input type="checkbox" id="male" class="chkbox mr-2 ml-2" value="male" checked="checked" />
                  </label>

                  <label>
                    Female:
                    <input type="checkbox" id="female" value="female" class="chkbox ml-2" />
                  </label>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">
                  Date Of Birth <span class="required">*</span>
                </label>
                <div class="col-sm-8">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" id="Dob" name="Dob" formControlName="Dob"
                      ngbDatepicker #d="ngbDatepicker" [(ngModel)]="dateModel">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar btn-s" (click)="d.toggle()" type="button">
                        <i class="far fa-calendar-alt"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" *ngIf="IsFaculty">
                <div class="col-md-12 col-sm-12 row">
                  <label class="col-sm-3 col-form-label">
                    Class
                  </label>
                  <div class="col-md-8 d-flex p-0">
                    <div class="col-md-5 pr-0">
                      <select class="form-control" (change)="EnableSection()" formControlName="Class" id="Class"
                        name="Class">
                        <option value="">Choose Class</option>
                        <option *ngFor="let item of Classes" [value]="item">{{item}}</option>
                      </select>
                    </div>
                    <label class="col-sm-3 col-form-label">Section</label>
                    <div class="col-md-5">
                      <select class="form-control" [disabled]="IsEnableSection" formControlName="ClassDetailUid"
                        id="section" name="ClassDetailUid">
                        <option value="">Section</option>
                        <option *ngFor="let item of Sections" [value]="item.ClassDetailUid">{{item.Section}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row" *ngIf="!IsFaculty">
                <label class="col-sm-3 col-form-label">
                  Staff Role Name
                </label>
                <div class="col-md-8">
                  <select class="form-control" formControlName="Designation" name="Designation" id="Designation">
                    <option value="">Choose Staff Role</option>
                    <option *ngFor="let item of FacultyRoles" [value]="item.RoleName">{{item.RoleName}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 d-md-flex p-0">
      <div class="col-md-6 col-xs-12 p-0 pr-1">
        <div class="x_panel pb-0">
          <div class="x_title">
            <h2 class="StepTitle">Contact information<small>Personal information.</small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="section-card">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">
                Mobile no. <span class="required">*</span>
              </label>
              <div class="col-sm-8 col ibox">
                <input mobile class="form-control" formControlName="MobileNumber" name="MobileNumber" id="MobileNumber"
                  placeholder="Mobile No.#">
                <i class="fa fa-user"></i>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">
                Alternet no.
              </label>
              <div class="col-sm-8">
                <input type="text" id="AlternetNumber" formControlName="AlternetNumber" name="AlternetNumber"
                  placeholder="Alternet No.#" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">
                Email Id
              </label>
              <div class="col-sm-8">
                <input id="Email" class="form-control" formControlName="Email" name="Email" placeholder="Email Id">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">
                Full address <span class="required">*</span>
              </label>
              <div class="col-sm-8">
                <textarea id="Address" rows="3" class="form-control muted" formControlName="Address" name="Address"
                  placeholder="Full Address" type="text" style="resize: none;"></textarea>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">
                State
              </label>
              <div class="col-sm-8">
                <select id="State" class="form-control" name="State" formControlName="State">
                  <option selected="selected" value="">Select state</option>
                  <option value="Bihar">Bihar</option>
                  <option value="West Bangal">West Bangal</option>
                  <option value="Jharkhand">Jharkhand</option>
                  <option value="UP">UP</option>
                  <option value="Odisha">Odisha</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="city" class="col-sm-3 col-form-label">
                City
              </label>
              <div class="col-sm-8">
                <select id="City" class="form-control" name="City" formControlName="City">
                  <option selected="selected" value="">Select city</option>
                  <option value="Bihar">Bihar</option>
                  <option value="West Bangal">West Bangal</option>
                  <option value="Jharkhand">Jharkhand</option>
                  <option value="UP">UP</option>
                  <option value="Odisha">Odisha</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="middle-name" class="col-sm-3 col-form-label">
                Pincode <span class="required">*</span>
              </label>
              <div class="col-sm-8">
                <input number="6" placeholder="Pincode" class="form-control" formControlName="Pincode" name="Pincode"
                  id="Pincode">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12 p-0 pl-1">
        <div class="x_panel pb-0">
          <div class="x_title">
            <h2 class="StepTitle">Higest Qualification<small>Qualification information.</small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="section-card">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="first-name">
                University
              </label>
              <div class="col-sm-8">
                <input type="text" formControlName="SchoolUniversityName" name="SchoolUniversityName"
                  id="SchoolUniversityName" placeholder="University/School Name" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">
                Degree
              </label>
              <div class="col-sm-8">
                <input type="text" id="DegreeName" formControlName="DegreeName" name="DegreeName" placeholder="Degree"
                  ng-model="UserData.DegreeName" class="form-control">
              </div>
            </div>
            <div class="form-group row">
              <label for="Grade" class="col-sm-3 col-form-label">
                Grade
              </label>
              <div class="col-sm-8">
                <input id="Grade" class="form-control" formControlName="Grade" name="Grade"
                  placeholder="Grade (if any)">
              </div>
            </div>
            <div class="form-group row">
              <label for="MarksObtain" class="col-sm-3 col-form-label">
                Marks
              </label>
              <div class="col-sm-8">
                <input id="MarksObtain" class="form-control" formControlName="MarksObtain" name="MarksObtain"
                  placeholder="Marks in % (if any)">
              </div>
            </div>
            <div class="form-group row" *ngIf="IsFaculty">
              <label class="col-sm-3 col-form-label">
                Exprience
              </label>
              <div class="col-sm-8 d-md-flex">
                <div class="col-6 p-0 pr-1">
                  <select class="form-control" formControlName="ExprienceInYear" id="ExprienceInYear"
                    name="ExprienceInYear">
                    <option selected="selected" value="">In Year</option>
                    <option value="0">0 Year</option>
                    <option value="1">1 Year</option>
                    <option value="2">2 Year</option>
                    <option value="3">3 Year</option>
                    <option value="4">4 Year</option>
                    <option value="5">5 Year</option>
                    <option value="6">6 Year</option>
                    <option value="7">7 Year</option>
                    <option value="8">8 Year</option>
                    <option value="9">9 Year</option>
                    <option value="10">10 Year</option>
                  </select>
                </div>
                <div class="col-6 p-0 pr-1">
                  <select class="form-control" formControlName="ExperienceInMonth" id="ExperienceInMonth"
                    name="ExperienceInMonth">
                    <option selected="selected" value="">In Month</option>
                    <option value="0">0 Month</option>
                    <option value="1">1 Month</option>
                    <option value="2">2 Month</option>
                    <option value="3">3 Month</option>
                    <option value="4">4 Month</option>
                    <option value="5">5 Month</option>
                    <option value="6">6 Month</option>
                    <option value="7">7 Month</option>
                    <option value="8">8 Month</option>
                    <option value="9">9 Month</option>
                    <option value="10">10 Month</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group row" *ngIf="IsFaculty">
              <label class="col-sm-3 col-form-label">
                Subject
              </label>
              <div class="col-sm-8">
                <app-iautocomplete id="Subject" [Data]="SubjectDetail" [Defaultvalue]="DefaultSubject"
                  (OnSelect)="OnSubjectSelected($event)" [Placeholder]="'Subject'">
                </app-iautocomplete>
              </div>
            </div>
            <div class="form-group row" *ngIf="IsFaculty">
              <label class="col-sm-3 col-form-label">
                Type
              </label>
              <div class="col-sm-8">
                <select id="type" class="form-control" name="type">
                  <option selected="selected" value="">Select Type</option>
                  <option value="PGT">PGT</option>
                  <option value="TGT">TGT</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 
    <div class="col-md-12 p-0 d-none upload-document" id="document-dv">
      <div class="upload-document-dv">
        <div class="card night-bg">
          <div class="card-header">
            Header
          </div>
          <div class="card-body upload-body row">
            <ng-container *ngFor="let img of DocumentImages">
              <div class="img-dv">
                <div class="">
                  <img [src]="img" alt="Document Image" class="doc-img">
                </div>
                <div class="col-12 mt-2 text-dark">
                  <a class="del-anc">
                    <i class="fas fa-trash-alt pr-1"></i>
                    Delete
                  </a>
                </div>
              </div>
            </ng-container>
          </div>
          <div class="card-footer">
            <div class="col-md-12">
              <button class="btn btn-light mr-2" (click)="CloseUploadDoc()">
                <i class="fas fa-times-circle"></i>
                Close
              </button>

              <button class="btn btn-warning" (click)="OpenBrowseOptions()">
                <i class="fas fa-upload"></i>
                Browse
              </button>
              <input class="d-none" type="file" multiple (change)="GetDocumentFile($event)" id="document-btn">
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="col-md-12 p-0">
      <div class="x_panel pb-0">
        <div class="x_title position-relative">
          <h2 class="StepTitle">Document proof<small>Upload candidate proof of documents.</small></h2>
          <a class="upload-btn" (click)="OpenBrowseOptions()">
            <i class="fas fa-plus-circle"></i>
            Upload Doc
          </a>
          <input class="d-none" type="file" multiple (change)="GetDocumentFile($event)" id="document-btn">
          <div class="clearfix"></div>
        </div>
        <div class="section-card">
          <div class="form-group row ml-1">
            <ng-container *ngFor="let img of DocumentImageObjects">
              <div class="img-dv">
                <div class="">
                  <img [src]="img.FilePath" (click)="EnlargeItem(img.ActualPath)" alt="Document Image" class="doc-img">
                </div>
                <div class="col-12 mt-2 text-dark">
                  <a class="del-anc" [attr.fileOn]="img.FileOn" (click)="RemoveItem(img.FileUid)" [attr.uid]="img.FileUid">
                    <i class="fas fa-trash-alt pr-1"></i>
                    Delete
                  </a>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <div class="btn-toolbar flex-row-reverse">
      <button class="btn btn-outline-info btn-s mr-1">Clear</button>
      <input type="submit" class="btn btn-s btn-success mr-1" value="Submit" />
    </div>
  </form>
</div>
