.cell {
  width: 100%;
  padding: 20px 10px;
}

.progress.progress_sm {
  border-radius: 0;
  margin-bottom: 18px;
  height: 10px !important;
}

.progress.progress_sm .progress-bar {
  height: 10px !important;
}

.page-title .title_right .pull-right {
  margin: 10px 0;
}

.btn-s {
  height: 35px !important;
  border-color: #c2b7b7 !important;
}

.inbox button,
a {
  border-radius: 0px 4px 4px 0px;
  border-left: none;
}

.project_progress small {
  position: absolute;
  top: 2rem;
}
