<div class="col-md-12 col-sm-12 icard">

  <div *ngIf="EnablePopup" class="ipopup">
    <div class="ipopup__content pb-0">
      <div class="ipopup__header">
        <header>Assign Subject For Timetable</header>
      </div>
      <hr />
      <form id="addsubject" class="pt-2" (keydown.enter)="$event.preventDefault()" [formGroup]="AssignFaculty">
        <div class="mt-2">
          <div class="col-md-12 form-group row">
            <div class="col-md-3">
              <span>Subject:</span>
            </div>
            <div class="col-md-9">
              <app-iautocomplete id="Subject" [Data]="SubjectDetail" (OnSelect)="OnSubjectSelected($event)"
                [Placeholder]="'Subject'">
              </app-iautocomplete>
            </div>
          </div>
          <div class="col-md-12 form-group row">
            <div class="col-md-3">
              <span>Faculty:</span>
            </div>
            <div class="col-md-9">
              <app-iautocomplete id="faculty" [Data]="Faculties" (OnSelect)="OnFacultySelected($event)"
                [Placeholder]="'Faculty'">
              </app-iautocomplete>
            </div>
          </div>
          <div class="border-top">
            <div class="form-group d-flex mt-3 col-md-4">
              <button class="btn btn-outline-dark btn-sm form-control mr-2" (click)="Close()">Close</button>
              <button class="btn btn-primary btn-sm form-control" (click)="AssignChanges()">Save</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>


  <div class="x_panel">
    <div class="x_title">
      <h2>Class Timetable <small>Classwise timetable.</small></h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <!-- Smart Wizard -->
      <div class="col-md-12 filter-body pt-3 border mb-2">
        <div class="form-row">
          <div class="form-group col-md-4">
            <select class="form-control" (change)="EnableSection()" name="Class" [(ngModel)]="SelecteClass">
              <option value="">Choose Class</option>
              <option *ngFor="let item of Classes" [value]="item">{{item}}</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <select class="form-control" [disabled]="IsEnableSection" [(ngModel)]="CurrentClassDetailUid"
              name="ClassDetailUid">
              <option value="">Section</option>
              <option *ngFor="let item of Sections" [value]="item.ClassDetailUid">{{item.Section}}</option>
            </select>
          </div>
          <div class="col-md-4 form-row flex-row-reverse">
            <div class="">
              <button class="btn btn-warning" (click)="GetTimetableData()">
                <i class="fa fa-filter"></i>
                Filter timetable
              </button>
            </div>
            <div class="mr-2">
              <button class="btn btn-outline-dark">
                <i class="fas fa-sync-alt"></i>
                Reset
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 p-0" *ngIf="IsReady">
        <div class="col-12 p-0 d-flex m-0 table">
          <div class="w-100 cell">
            Day's
          </div>
          <div class="w-100 cell" *ngFor="let time of TimingDetail" [ngClass]="{'small-line': time.TimingFor === 'R'}">
            {{time.TimingFor}}
          </div>
        </div>
        <div class="col-12 p-0 d-flex body" *ngFor="let tableDetail of RoutineTable">
          <ng-container *ngFor="let table of tableDetail.Data">
            <div class="w-100 cell small-line" *ngIf="table.Period === 0">
              {{table.SubjectName}}
            </div>
            <div *ngIf="table.Period === -1" class="w-100 cell">
              <div class="content">
                {{table.SubjectName}}
              </div>
            </div>
            <div *ngIf="table.Period > 0" class="w-100 cell" [ngClass]="{'empty': table.FacultyUid === ''}">
              <a class="action" (click)="OpenSubjectSelection(table)">
                <i class="far fa-edit"></i>
              </a>
              <div class="content">
                {{table.SubjectName}}
                <div class="small">
                  <blockquote>{{table.FacultyName}}</blockquote>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
