.right-box {
  margin-bottom: 14px !important;
}

.b-align {
  position: absolute;
  bottom: 15px;
}

select {
  color: var(--input-color);
}

.profile-dv {
  width: 174px;
  position: absolute;
  top: 75px;
}

.chk-dv {
  line-height: 2.46;
}

.btn-s {
  height: 35px !important;
  border-color: #c2b7b7 !important;
}
